 .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 694px !important;
        }

        .col-xl-5 {
            flex: 0 0 auto !important;
            width: 90.666667% !important;
        }